version: '3.3'   # Use Docker Compose file format version 3.3
services:        # Define the services (containers) to run
  dind:                         # Service name = dind (Docker-in-Docker)
    image: docker:dind     # Use official Docker-in-Docker image (v24.0)
    privileged: true            # Required for DinD to run Docker commands
    user: root
    networks:
     jenkins:
      aliases:
       - docker           # Custom Jenkins network
    environment:
      - DOCKER_TLS_CERTDIR=/certs   # Enable TLS certificates for secure Docker API communication
    volumes:
      - docker-certs-ca:/certs/ca    # volume for certificate authority
      - docker-certs-client:/certs/client # volume for client certificate
      - jenkins-data:/var/jenkins_home #optional jenkins shared data
    ports : 
      - 2376:2376

  jenkins:                       # Service name = jenkins
    image: jenkins/jenkins:lts-jdk17  
    privileged: true             # Allow Jenkins to run Docker commands
    user: root                   # Run as root (needed to install Docker CLI inside Jenkins)
    restart: unless-stopped
    environment:
      - DOCKER_HOST=tcp://docker:2376   # Tell Jenkins to use Docker daemon running in dind service
      - DOCKER_CERT_PATH=/certs/client # Path to TLS certificates for Docker
      - DOCKER_TLS_VERIFY=1          # Enforce TLS verification (secure)
    ports:
      - "8080:8080"              # Expose Jenkins UI on localhost:8080
      - "50000:50000"            # Expose Jenkins agent port (for Jenkins agents/slaves)
    volumes:
      - jenkins_data:/var/jenkins_home # Persistent Jenkins data (jobs, plugins, configs)
      - docker-certs-client:/certs/client:ro # Mount TLS certificates read-only
      - /usr/bin/docker:/usr/bin/docker
    networks:
      - jenkins              # Connect Jenkins to the same network as dind

#volumes
volumes:
  docker-certs-ca: #docker certificates
  docker-certs-client: #stores docker client certs

# Networks
networks:
  jenkins:   # Define a custom bridge network
    driver: bridge

